<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
    <head>
        <title>MongoDbWebAdmin</title>
        <link type="text/css" rel="stylesheet" href="/static/styles.css"/>
        <script src="//code.jquery.com/jquery-2.1.1.js"></script>
        <script src="//mozilla.github.io/nunjucks/files/nunjucks.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                var objectTemplate = nunjucks.compile($('#object_template').html());
                var documentsTemplate = nunjucks.compile($('#documents_template').html());
                var collectionsTemplate = nunjucks.compile($('#collections_template').html());
                var databasesTemplate = nunjucks.compile($('#databases_template').html());
                
                var loadObject = function(database_name, collection_name, document) {
                    var status = document.attr('status');
                    if (status == 'unrolled') {
                        document.attr('status', 'rolledup');
                    } else if (status == 'rolledup') {
                        document.attr('status', 'unrolled');
                    } else if (status == 'unloaded') {
                        var document_id = document.children('.id').html();
                        document.attr('status', 'loading');
                        $.getJSON('/get_object', {database_name: database_name,
                                                  collection_name : collection_name,
                                                  document_id : document_id}, function(object) {
                            var isa = function(object, type) {
                                return type == 'null' && object == null ||
                                       type == 'boolean' && typeof object == 'boolean' ||
                                       type == 'number' && typeof object == 'number' ||
                                       type == 'string' && typeof object == 'string' ||
                                       type == 'array' && object instanceof Array ||
                                       type == 'object';
                            };
                            function render(object) {
                                return objectTemplate.render({object: object, isa : isa, recurse : render});
                            }
                            document.append(render(object));
                            document.attr('status', 'unrolled');
                            document.find('.rollable > .header').click(function() {
                                var object = $(this).parent();
                                var status = object.attr('status');
                                if (status == 'unrolled') {
                                    object.attr('status', 'rolledup');
                                } else if (status == 'rolledup') {
                                    object.attr('status', 'unrolled');
                                }
                            });
                        });
                    }
                };
                
                var loadDocuments = function(database_name, collection) {
                    var status = collection.attr('status');
                    if (status == 'unrolled') {
                        collection.attr('status', 'rolledup');
                    } else if (status == 'rolledup') {
                        collection.attr('status', 'unrolled');
                    } else if (status == 'unloaded') {
                        var collection_name = collection.children('.name').html();
                        collection.attr('status', 'loading');
                        $.getJSON('/get_document_ids', {database_name: database_name,
                                                        collection_name : collection_name}, function(document_ids) {
                            collection.append(documentsTemplate.render({ids: document_ids}));
                            collection.attr('status', 'unrolled');
                            collection.find('.document > .id').click(function() {
                                var document = $(this).parent();
                                loadObject(database_name, collection_name, document);
                            });
                        });
                    }
                }
                
                var loadCollections = function(database) {
                    var status = database.attr('status');
                    if (status == 'unrolled') {
                        database.attr('status', 'rolledup');
                    } else if (status == 'rolledup') {
                        database.attr('status', 'unrolled');
                    } else if (status == 'unloaded') {
                        var database_name = database.children('.name').html();
                        database.attr('status', 'loading'); 
                        $.getJSON('/get_collection_names', {database_name: database_name}, function(collection_names) {
                            database.append(collectionsTemplate.render({names: collection_names}));
                            database.attr('status', 'unrolled');
                            database.find('.collection > .name').click(function() {
                                var collection = $(this).parent();
                                loadDocuments(database_name, collection);
                            });
                        });
                    }
                };
                
                var loadDatabases = function() {
                    $.getJSON('/get_database_names', {}, function(database_names) {
                        $('#content').append(databasesTemplate.render({names: database_names}));
                        $('.database > .name').click(function() {
                            var database = $(this).parent();
                            loadCollections(database);
                        });
                    });
                };
                
                
                loadDatabases();
            });
        </script>
    </head>
    <body>
        <div class="template" id="object_template">
            {% macro render_object(object, isa, root = true) %}
                {% if root %} <div class="indented"> {% endif %}
                {% if isa(object, 'null') %}    
                    <span>
                        {{ object }}
                    </span>
                {% elif isa(object, 'boolean') %}
                    <span>
                        {{ object }}
                    </span>
                {% elif isa(object, 'number') %}    
                    <span>
                        {{ object }}
                    </span>
                {% elif isa(object, 'string') %}    
                    <span>
                        {{ '"' + object + '"' }}
                    </span>
                {% elif isa(object, 'array') %}
                    {% if root %} <span> {% else %} <span class="rollable" status="rolledup"> {% endif %}
                        <span class="header">[</span>
                        {% if not root %} <span class="rolled_body">...</span> {% endif %}
                        {% for item in object %}
                            <div class="indented">
                                {{ render_object(item, isa, false) }}
                                {% if not loop.last -%}
                                    <span>,</span>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <span class="footer">]</span>
                    </span>
                {% elif isa(object, 'object') %}
                    {% if root %} <span> {% else %} <span class="rollable" status="rolledup"> {% endif %}
                        <span class="header">{</span>
                        {% if not root %} <span class="rolled_body">...</span> {% endif %}
                        {% for key, value in object %}
                            <div class="indented">
                                <span>{{ render_object(key, isa, false) }}</span>
                                <span>:</span>
                                <span>{{ render_object(value, isa, false) }}</span>
                                {% if not loop.last %}
                                    <span>,</span>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <span class="footer">}</span>
                    </span>
                {% endif %}
                {% if root %} </div> {% endif %}
            {% endmacro %}
            {{ render_object(object, isa) }}
        </div>
        <div class="template" id="documents_template">
            {% for id in ids %}
                <div class="rollable indented document" status="unloaded">
                    <span class="header id">{{ id }}</span>
                    <!-- object -->
                </div>
            {% endfor %}
        </div>
        <div class="template" id="collections_template">
            {% for name in names %}
                <div class="rollable indented collection" status="unloaded">
                    <span class="header name">{{ name }}</span>
                    <!-- documents -->
                </div>
            {% endfor %}
        </div>
        <div class="template" id="databases_template">
            {% for name in names %}
                <div class="rollable indented database" status="unloaded">
                    <span class="header name">{{ name }}</span>
                    <!-- collections -->
                </div>
            {% endfor %}
        </div>
        <h1>Mongo db web admin</h1>
        <div id="content">
            <!-- databases -->
        </div>
    </body>
</html>
