body
{
    margin-left: 20%; margin-right: 20%;
}

.document
{
    margin: 2px;
}

.document-reloader:after
{
    content: '↻'
}

.document-updater:after
{
    content: '✔'
}

.document-deleter:after
{
    content: '✖'
}

.object
{
    font-family: 'Arial';
    font-size: medium;
}

.nice-border
{
    margin: 2px;
    border-style: dotted; border-width: 1px;
    padding: 2px;
}

.nice-line
{
    margin: 2px;
    border-top-style: dotted; border-top-width: 1px;
    height: 1px;
}

.error-message
{
    background-color: rgba(255, 0, 0, 0.5);
    padding-left: 2px; padding-right: 2px;
}
