.indented 
{
    margin-left: 40px;
}

.rollable > .toggler::after
{
    margin: 2px;
}  

.rollable[status="unloaded"] > .toggler::after,
.rollable[status="rolledup"] > .toggler::after
{
    content: '▶';
}   

.rollable[status="loading"] > .toggler::after
{
    content: '●';
}

.rollable[status="unrolled"] > .toggler::after
{
    content: '▼';
}

.rollable[status="unloaded"] > :not(.toggler):not(.presistent),
.rollable[status="loading"] > :not(.toggler):not(.presistent),
.rollable[status="rolledup"] > :not(.toggler):not(.presistent)
{
    display: none;
}

.editable[invalid="true"]
{
    background-color: rgba(255, 0, 0, 0.5);
}

.editable[invalid="true"]:empty::before
{
    content: '⋯';
    color: rgba(0, 0, 0, 0.5);
}

.editable[invalid="true"]:hover::after
{
    content: 'Error: invalid JSON.';
    display: block;
    position: absolute;
    background-color: white;
    border: 1px solid black;
    margin-left: 20px; margin-top: 10px;
    padding-left: 3px; padding-right: 3px;
    outline-style: none;
}


.control
{
    opacity: 0.0;
}

:hover > .control,
.document:hover > .document-controls > .control:not(:hover)
{
    opacity: 0.3;
}

.control:hover
{
    opacity: 1.0;
}



.deleter
{
    position: relative;
}

.deleter::before
{
    content: '✖';
    position: absolute; right: -100%;
    padding-left: 3px; padding-right: 3px;
}

.inserter::after
{
    content: '⊕';
}
