.indented 
{
    margin-left: 30px;
}

.rollable > .toggler::after
{
    margin: 2px;
}  

.rollable[status="unloaded"] > .toggler::after,
.rollable[status="rolledup"] > .toggler::after
{
    content: '▶';
}   
.rollable[status="loading"] > .toggler::after
{
    content: '●';
}
.rollable[status="unrolled"] > .toggler::after
{
    content: '▼';
}

.rollable[status="unloaded"] > :not(.toggler):not(.presistent),
.rollable[status="loading"] > :not(.toggler):not(.presistent),
.rollable[status="rolledup"] > :not(.toggler):not(.presistent)
{
    display: none;
}






.controls
{
    float: right;
}
.controls > .delete::after
{
    content: '✖';
}

