.template
{
    display: none;
}

.indented 
{
    margin-left: 30px;
}

.rollable[status="unrolled"] > .rolled_body
{
    display: none;
}

.rollable[status="unloaded"] > :not(.header):not(.rolled_body):not(.footer),
.rollable[status="loading"] > :not(.header):not(.rolled_body):not(.footer),
.rollable[status="rolledup"] > :not(.header):not(.rolled_body):not(.footer)
{
    display: none;
}

.rollable > .header::before
{
    margin-right: 3px;
}

.rollable[status="unloaded"] > .header::before,
.rollable[status="rolledup"] > .header::before
{
    content: '▶';
}   

.rollable[status="loading"] > .header::before
{
    content: '●';
}

.rollable[status="unrolled"] > .header::before
{
    content: '▼';
}

  


