<div id="collection-stats">
    <div class="nice-border rollable" status="rolledup">
        <span class="presistent">Statistics:</span>
        <span class="toggler"></span>
        <div>Namespace: {{ collection_stats.ns }}</div>
        <div>Documents: {{ collection_stats.count }}</div>
        <div>Total size: {{ collection_stats.size }} bytes</div>
        <div>Average document size: {{ collection_stats.avgObjSize }} bytes</div>
        <div>Storage size: {{ collection_stats.storageSize }} bytes</div>
        <div>Indexes: {{ collection_stats.nindexes }}</div>
        <div>Total index size: {{ collection_stats.totalIndexSize }} bytes</div>
    </div>
</div>
