<div class="load-anchor nice-border" style="position: relative">
    <datalist id="collection-names">
        {% for collection_name in collection_names %}
            <option value="{{- collection_name -}}">{{- collection_name -}}</option>
        {% endfor%}        
    </datalist>
    <div style="display: inline-table">
        <div style="display: table-row">
            <div style="display: table-cell">
                <div>Collection:</div>
                <input type="text" id="collection-name" list="collection-names">
            </div>
            <div style="display: table-cell">
                <div id="collection-stats"></div>
            </div>
        </div>
    </div>
    <div style="position: absolute; bottom: 2px; right: 2px">
        <button id="open-collection">Open collection</button>
    </div>
</div>


