{% from 'object.html' import render_object %}

<div></div>
<datalist id="collection-name-list">
    {% for collection_name in collection_names %}
        <option value="{{- collection_name -}}">{{- collection_name -}}</option>
    {% endfor%}        
</datalist>
<input type="text" id="collection-name" style="vertical-align: top" list="collection-name-list" placeholder="Collection name..." class="generic">
<div style="display: inline-block; vertical-align: top" class="generic">
    Selector: <span id="selector" >{{ render_object({}) }}</span>
</div>
<div  style="display: inline-block; vertical-align: top" class="generic">
    Projector: <span id="projector">{{ render_object({'_id':false}) }}</span>
</div>
<span id="open-collection" class="loading-button"></span>



