{% macro render_object(object) %}
    {% if object is none %}    
        <span class="editable" contentEditable="true">
            {{- render_primitive(object) -}}
        </span>
    {% elif object is sameas false or object is sameas true %}
        <span class="editable" contentEditable="true">
            {{- render_primitive(object) -}}
        </span>
    {% elif object is number %}    
        <span class="editable" contentEditable="true">
            {{- render_primitive(object) -}}
        </span>
    {% elif object is string %}    
        <span class="editable" contentEditable="true">
            {{- render_primitive(object) -}}
        </span>
    {% elif object is mapping %}
        <span class="object rollable" status="unrolled">
            <span class="presistent">{</span>
            <span class="toggler"></span>
            <span class="insert-anchor">
                <span class="inserter"></span>
            </span>
            {% for key, value in object.items() %}
                <div class="pair deletable indented insert-anchor">
                    <span class="deleter"></span>
                    <span class="key">{{ render_object(key) }}</span>
                    <span>:</span>
                    <span class="value">{{ render_object(value) }}</span>
                    {% if not loop.last %}
                        <span>,</span>
                    {% endif %}
                    <span class="inserter"></span>
                </div>
            {% endfor %}
            <span class="presistent">}</span>
        </span>
    {% elif object is sequence %}
        <span class="array rollable" status="unrolled">
            <span class="presistent">[</span>
            <span class="toggler"></span>
            <span class="insert-anchor">
                <span class="inserter"></span>
            </span>
            {% for item in object %}
                <div class="item deletable indented insert-anchor">
                    <span class="deleter"></span>
                    {{ render_object(item) }}
                    {% if not loop.last %}
                        <span>,</span>
                    {% endif %}
                    <span class="inserter"></span>
                </div>
            {% endfor %}
            <span class="presistent">]</span>
        </span>
    {% endif %}
{% endmacro %}

{{ render_object(object) }}
