<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
    <head>
        <title>MongoDbWebAdmin</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" media="screen"/>
    </head>
    <body>
        <h1>Mongo db web admin</h1>
        <h3>Query:</h3>
        <div class="queryArea">
            <div style="padding: 5px">
                Databases:
                <select name="database_name" form="query">
                    {% for database_name in database_names %}
                        <option value="{{ database_name }}">{{ database_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <textarea name="query_text" form="query"></textarea>
            <input type="submit" form="query" value="Execute" id="queryButton">
        </div>
        <h3>Collections:</h3>
        <ol class="treeView">
						{% for database_name in database_names %}
						<div>
            	<input type="checkbox" id="subfolder"/>
            	<label for="subfolder">{{database_name}}</label>
							<ol class="treeSubElement">
								{% for c in collections[database_name] %}
									<li class="treeElement">{{c}}</li>
								{% endfor %}
							</ol>
						</div>
						{% endfor %}
				</ol>
				<form id="query" method="post" action="{{ submit_target }}"></form>
    </body>
</html>
