<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='index-style.css') }}"></link>
        <link rel="stylesheet" href="{{ url_for('static', filename='object-style.css') }}"></link>
        <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='index-script.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='object-script.js') }}"></script>
        <title>MongoDbWebAdmin</title>
    </head>
    <body>
        <h1>MongoDbWebAdmin</h1>
        <div id="content">
            <div class="load-anchor nice-border" style="position: relative">
                <div style="display: inline-block">
                    <div>Server address:</div>
                    <input type="text" id="server-address" value="localhost">
                </div>
                <div style="position: absolute; bottom: 2px; right: 2px">
                    <button id="connect" >Connect</button>
                </div>
            </div>
        </div>
    </body>
</html>

